.App {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1513297887119-d46091b24bfa?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;    
  color: white;
}

.countdown-container {
  text-align: center;
  
}

.countdown-timer {
  display: flex;
  justify-content: center;
}

.countdown-timer div {
  margin: 0 20px;
  font-size: 36px;
  color: white;
}

.countdown-timer span {
  font-size: 60px;
  font-weight: bold;
  color: white;
}